#REACT
archviz-frontend/logs
archviz-frontend/*.log
archviz-frontend/npm-debug.log*
archviz-frontend/yarn-debug.log*
archviz-frontend/yarn-error.log*
archviz-frontend/pnpm-debug.log*
archviz-frontend/lerna-debug.log*

archviz-frontend/node_modules/
archviz-frontend/dist/
archviz-frontend/dist-ssr
archviz-frontend/*.local

# Editor directories and files
archviz-frontend/.vscode/*
archviz-frontend/.vscode/extensions.json
archviz-frontend/.idea
archviz-frontend/.DS_Store
archviz-frontend/*.suo
archviz-frontend/*.ntvs*
archviz-frontend/*.njsproj
archviz-frontend/*.sln
archviz-frontend/*.sw?



#LAVARVEL
archviz-backend/*.log
archviz-backend/.DS_Store
archviz-backend/.env
archviz-backend/.env.example
archviz-backend/.env.backup
archviz-backend/composer.lock
archviz-backend/composer.json
archviz-backend/.env.production
archviz-backend/.phpactor.json
archviz-backend/.phpunit.result.cache
archviz-backend/.fleet
archviz-backend/.idea/
archviz-backend/.nova/
archviz-backend/.phpunit.cache
archviz-backend/.vscode/
archviz-backend/.zed/
archviz-backend/auth.json
archviz-backend/node_modules/
archviz-backend/public/build/
archviz-backend/public/hot/
archviz-backend/public/storage/
archviz-backend/storage/*.key
archviz-backend/storage/pail
archviz-backend/vendor
archviz-backend/Homestead.json
archviz-backend/Homestead.yaml
archviz-backend/Thumbs.db


